# Indicate which OCCAPI version will be used to build the specification assets.

DEFINITION='openapi/occapi_v2.yaml'
#DEFINITION='openapi/occapi_v1.yaml'

BUNDLE='public/v2/openapi.yaml'
#BUNDLE='public/v1/openapi.yaml'
