# Ignore common local files
.idea/
.vscode/
/coverage/
/node_modules/
/vendor/
/logs/*
!/logs/README.md
.phpunit.result.cache

# Ignore local environment variables
/.env

# Ignore local Docker overrides
/docker-compose.override.yml
