openapi: 3.1.0
info:
  version: 1.0.0
  title: Open Course Catalogue API
  termsOfService: ''
  contact:
    email: contact@uni-foundation.eu
    url: 'https://uni-foundation.eu'
  # license:
  #   name: Apache 2.0
  #   url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://uni-foundation.eu/wp-content/uploads/2019/04/EUF-1.png'
  description:
    $ref: ./info-description.md
# externalDocs:
#   description: Find out how to create a GitHub repo for your OpenAPI definition.
#   url: 'https://github.com/Rebilly/generator-openapi-repo'
tags:
  - name: Institutions
    description: Information about the institutions covered by the API.
  - name: Organisational Units
    description: Information about organisational units in each institution.
  - name: Programmes
    description: Information about degree programmes in each institution.
  - name: Courses
    description: Information about courses in each institution.
servers:
  - url: 'https://occapi.uni-foundation.eu/occapi/v1'
    description: Sandbox server (example data)
paths:
  /hei:
    $ref: paths/hei.yaml
  # '/users/{username}':
  #   $ref: 'paths/users@{username}.yaml'
  /echo:
    $ref: paths/echo.yaml
  # /pathItem:
  #   $ref: paths/path-item.yaml
  # /pathItemWithExamples:
  #   $ref: paths/path-item-with-examples.yaml
# components:
#   securitySchemes:
#     main_auth:
#       type: oauth2
#       flows:
#         implicit:
#           authorizationUrl: 'http://example.com/api/oauth/dialog'
#           scopes:
#             'read:users': read users info
#             'write:users': modify or remove users
#     api_key:
#       type: apiKey
#       in: header
#       name: api_key
#     basic_auth:
#       type: http
#       scheme: basic
