openapi: 3.1.0
info:
  version: 1.0.0
  title: Open Course Catalogue API
  termsOfService: ''
  contact:
    email: contact@uni-foundation.eu
    url: 'https://uni-foundation.eu'
  # license:
  #   name: Apache 2.0
  #   url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://uni-foundation.eu/wp-content/uploads/2019/04/EUF-1.png'
  description:
    $ref: ./info-description.md
# externalDocs:
#   description: Find out how to create a GitHub repo for your OpenAPI definition.
#   url: 'https://github.com/Rebilly/generator-openapi-repo'
tags:
  - name: API provider
    description: Information about the provider.
  - name: Institutions
    description: Information about the Institutions covered by the provider.
  - name: Organisational Units
    description: Information about Organisational Units in an Institution.
  - name: Programmes
    description: Information about Programmes offered by an Institution.
  - name: Courses
    description: Information about Courses offered by an Institution.
servers:
  - url: 'https://occapi.uni-foundation.eu/occapi/v1'
    description: Sandbox server (example data)
paths:
  /:
    $ref: paths/root.yaml
  # Institution & Organisational Unit endpoints.
  /hei:
    $ref: paths/hei.yaml
  '/hei/{heiId}':
    $ref: 'paths/hei@{heiId}.yaml'
  '/hei/{heiId}/ounit':
    $ref: 'paths/ounit.yaml'
  '/hei/{heiId}/ounit/{id}':
    $ref: 'paths/ounit@{id}.yaml'
  # Programme endpoints.
  '/hei/{heiId}/programme':
    $ref: 'paths/programme.yaml'
  '/hei/{heiId}/ounit/{id}/programme':
    $ref: 'paths/ounit@{id}-programme.yaml'
  '/hei/{heiId}/programme/{id}':
    $ref: 'paths/programme@{id}.yaml'
  # Course endpoints.
  # '/hei/{heiId}/course':
  #   $ref: 'paths/course.yaml'
  # '/hei/{heiId}/ounit/{id}/course':
  #   $ref: 'paths/ounit@{id}-course.yaml'
  # '/hei/{heiId}/programme/{id}/course':
  #   $ref: 'paths/programme@{id}-course.yaml'
  # '/hei/{heiId}/course/{id}':
  #   $ref: 'paths/course@{id}.yaml'
